[Desktop Entry]
Name=Image Display App
Exec=/usr/bin/python /home/akt/Desktop/code/main.py
Icon=/home/akt/Desktop/code/readme_image/icon.jpeg
Terminal=false
Type=Application
Categories=Utility;